body {
	background-color: white;
}

.clear {
	clear:both;
}

#wrapper, .wrapper-mid {
	background: none;
}

.wrapper-top, .wrapper-bottom  {
	display:none;
}

.paper-top, .paper-bottom {
	display:none;
}

.self ul li {
	background-repeat: no-repeat;
	padding-left:0;
	background-position: 0 .1em;
	display:block;
}

.social {
	display:none;
}

/* GO TO TOP */
/* ----------------------------------------- */

#message {
	display:none;
}

.works {
	display:none;
}

.print_next_page {
	margin-top: 100px;
}